
h1{
  text-align: center;
}
a:link{
  color: blue;
}

nav a{
  background-color: gray;
  padding-left: 10px;
  padding-right: 10px;
}
nav {
  text-align: center;
}
#featured-property figure {
  text-align: center;
  font-size: 14px;
}
#featured-property p {
  width: 800px;
  text-align: center;
  margin: 20px auto;
}


#details {
  display: flex;
  justify-content: space-around;
  background-color: red;
  flex-wrap: wrap; 
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  padding: 20px;
  
}
#details div {
  float: left;
  text-align: center;
  font-size:14px;
  width: 25%;
}